body {
  box-sizing: border-box;
  background-color: #1f2937;
}
a:link {
  text-decoration: none;
  font-size: 44px;
  margin: 100px;
  color: honeydew;
}
.flex-container1 div {
  font-size: 28px;
  color: honeydew;
}
.flex-container1 {
  display: flex;
  gap: 25px;
  flex-direction: row;
  height: 1vh;
  justify-content: flex-end;
  align-items: flex-end;
}
.item-one {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grabbing;
}
.item-two {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grabbing;
}
.item-three {
  margin-right: 100px;
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grabbing;
}
.flex-container2 {
  height: 100vh;
}
.item-uno {
  width: 500px;
  height: 20px;
  margin-left: 130px;
  padding-top: 140px;
  font-size: 48px;
  color: honeydew;
}
.item-dos {
  width: 500px;
  height: 20px;
  margin-left: 185px;
  padding-top: 50px;
  font-size: 18px;
  color: #e5e7eb;
}
.chef {
  position: relative;
  top: -360px;
  right: -750px;
}
