body {
  box-sizing: border-box;
  background-color: #1f2937;
}
a:link {
  text-decoration: none;
  font-size: 44px;
  margin: 100px;
  color: honeydew;
}
.flex-container1 div {
  font-size: 28px;
}
.flex-container1 {
  display: flex;
  gap: 25px;
  flex-direction: row;
  height: 7vh;
  justify-content: flex-end;
}
.item-one {
  width: 140px;
  height: 70px;
  background-color: skyblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-two {
  width: 140px;
  height: 70px;
  background-color: skyblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-three {
  width: 140px;
  height: 70px;
  background-color: skyblue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
