body {
  box-sizing: border-box;
  background-color: #1f2937;
}
section {
  box-sizing: border-box;
  background-color: white;
  margin: -20px;
}
a:link {
  text-decoration: none;
  font-size: 44px;
  margin: 100px;
  color: honeydew;
}
.flex-container1 div {
  font-size: 28px;
  color: honeydew;
}
.flex-container1 {
  display: flex;
  gap: 25px;
  flex-direction: row;
  height: 1vh;
  justify-content: flex-end;
  align-items: flex-end;
}
.item-one {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item-two {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item-three {
  margin-right: 100px;
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.flex-container2 {
  height: 100vh;
}
.item-uno {
  width: 500px;
  height: 20px;
  margin-left: 130px;
  padding-top: 140px;
  font-size: 48px;
  color: honeydew;
}
.item-dos {
  width: 500px;
  height: 20px;
  margin-left: 185px;
  padding-top: 50px;
  font-size: 18px;
  color: #e5e7eb;
}
.chef {
  position: relative;
  top: -360px;
  right: -750px;
  margin-bottom: -300px;
}
.header2 {
  font-size: 36px;
  color: #1f2937;
  padding-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}
.flex-container2 {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -550px;
}
.picture1 {
  width: 220px;
  height: 200px;
  border: 2px solid #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
}
.picture2 {
  width: 220px;
  height: 200px;
  border: 2px solid #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
}
.picture3 {
  width: 220px;
  height: 200px;
  border: 2px solid #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
}
.picture4 {
  width: 220px;
  height: 200px;
  border: 2px solid #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
}
.salad {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 23px;
}
.chicken {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 23px;
}
.raviolis {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 23px;
}
.steak {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 23px;
}
.subtext div {
  font-size: 20px;
  color: #425156;
  margin-bottom: 40px;
}
.subtext {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
}
.subtext1 {
  padding-left: 220px;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: -15px;
}
.subtext2 {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
  padding-left: 12px;
  margin-right: -20px;
}
.subtext3 {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  padding-left: 10px;
  margin-right: -55px;
}
.subtext4 {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 190px;
  padding-right: 10px;
  margin-left: 45px;
}
.section2 {
  padding: 5px 10px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  padding: 20px 100px;
}
.quote {
  padding-left: 800px;
}
